*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}
html, body {
    max-width: 100%;
    background-color:  #ffffff;
}
body
{
    background-color:  #ffffff;
    overflow-x: hidden; 
    text-rendering: optimizeLegibility;
    font-family: 'Permanent Marker', cursive;

}

.floatingNav {
  transition: all 0.5s;
  box-shadow: -5.213px 21.213px 30px 0px rgba(158, 158, 158, 0.3);
}
.nav-link{
  font-family: "NotoSansJP-Medium";
  font-size: 1rem;
  color: #27303b;
}

/*Defining all the fonts*/
@font-face {
    font-family: 'Neoteric Bold';
    src: url('../assets/fonts/Neoteric Bold/NeotericBold.eot');
    src: url('../assets/fonts/Neoteric Bold/NeotericBold?#iefix') format('embedded-opentype'),
         url('../assets/fonts/Neoteric Bold/NeotericBold.woff2') format('woff2'),
         url('../assets/fonts/Neoteric Bold/NeotericBold.woff') format('woff'),
         url('../assets/fonts/Neoteric Bold/NeotericBold.ttf')  format('truetype'),
         url('../assets/fonts/Neoteric Bold/NeotericBold.svg#DIN 30640 Std') format('svg');
}
@font-face {
    font-family: 'Bebas-Neue-Pro-Book';
    src: url('../assets/fonts/Bebas-Neue-Pro-Book/Bebas-Neue-Pro-Book.eot');
    src: url('../assets/fonts/Bebas-Neue-Pro-Book/Bebas-Neue-Pro-Book?#iefix') format('embedded-opentype'),
         url('../assets/fonts/Bebas-Neue-Pro-Book/Bebas-Neue-Pro-Book.woff2') format('woff2'),
         url('../assets/fonts/Bebas-Neue-Pro-Book/Bebas-Neue-Pro-Book.woff') format('woff'),
         url('../assets/fonts/Bebas-Neue-Pro-Book/Bebas-Neue-Pro-Book.ttf')  format('truetype'),
         url('../assets/fonts/Bebas-Neue-Pro-Book/Bebas-Neue-Pro-Book.svg#DIN 30640 Std') format('svg');
}
@font-face {
    font-family: 'Bahij_Janna-Regular';
    src: url('../assets/fonts/Bahij_Janna-Regular/Bahij_Janna-Regular.eot');
    src: url('../assets/assets/fonts/Bahij_Janna-Regular/Bahij_Janna-Regular?#iefix') format('embedded-opentype'),
         url('../assets/fonts/Bahij_Janna-Regular/Bahij_Janna-Regular.woff') format('woff'),
         url('../assets/fonts/Bahij_Janna-Regular/Bahij_Janna-Regular.ttf')  format('truetype'),
         url('../assets/fonts/Bahij_Janna-Regular/Bahij_Janna-Regular.svg#DIN 30640 Std') format('svg');
}
@font-face{
  font-family: 'Noto Sans JP';
  src: url('../assets/fonts/Noto_Sans_JP/NotoSansJP-Bold.otf')  format('truetype');
}
@font-face{
  font-family: 'NotoSansJP-Medium';
  src: url('../assets/fonts/Noto_Sans_JP/NotoSansJP-Medium.otf')  format('truetype');
}
/*Landin section CSS start*/
#new{
  position: relative;
}
#landing-title
{
    position: absolute;
    padding-top: 8rem;
    padding-left: 6rem;
    font-family: 'Noto Sans JP';
    font-size: 575%;
    color: #27303b;
    text-align: center 
}
#bloom{
  height: 100px;
  width: 100px;
}
#landing-subtext
{
    position: absolute;
	  padding-top: 20rem;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.55rem;
    padding-left: 2rem;
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 90%;
  background-color: #ffffff;
}

/*Landing section end*/

/*About section start*/
.about-area{
  padding: 8rem 5rem;
}

.about-area .about-title h2 > span{
  display: block;
  font: normal bold 49px/ 60px var(--roboto);
  letter-spacing: 21px;
}

.about-area .about-title .paragraph > p{
  padding: .4rem 0;
}

#about{
  position: relative;
  margin-top: 45vw;
  height: 100%;
  width: 100%;
}
#im
{
    position: relative;
    height: 19%;
    width: 25%;
    padding-left: 3%;
}
#me{
  height: 350px;
  width: 350px;
}
#name
{
    position: relative;
    font-family: 'Noto Sans JP';
    font-size: 3.5rem;
    padding-left: 5%;
	  color: #27303b;
}
#abt{
  position: relative;
  font-family: 'NotoSansJP-Medium';
  font-size: 2.5rem;
  color: #27303b;    
  padding-left: 3%;  
  margin-bottom: 10%;
}
.text-nowrap {
  white-space: nowrap;
}
#myinfo
{
  position: relative;
    font-family: 'Permanent Marker';
    font-size: 1rem;
    color: #524E4B;
    padding-left: 5%;
}
/*About section end*/

/*education section start*/
#timeline
{
    margin-top: 10%;
    position: relative;
}
#lan-mob{
  width: 100%;
}
#edu-text{
  position: relative;
  font-family: 'NotoSansJP-Medium';
  font-size: 2.5rem;
  color: #27303b;    
  padding-left: 3%; 
  margin-top: 5%;
  margin-bottom: -5%;
}
.tlpic
{
	height: 60vw;
  width: 140vw;
	padding-right: 35vw;
	padding-top: -300vw;
}
.m1
{
    position: absolute;
    top: 58.75%;
    left: 16%;
    height: 5vw;
    width: 5vw;
}
.ryan
{
    position: absolute;
    font-family: 'Neoteric Bold';
    top: 58%;
    left: 5%;
	font-size: 1.3vw;
}
.ryan-sub
{
    position: absolute;
    font-family: 'Permanent Marker', cursive;
    top: 61%;
    left: 5%;
	  font-size: 1.3vw;
}
.m3
{
    position: absolute;
    top: 79%;
    left: 48.9%;
    height: 5vw;
    width: 5vw;
}
.allen
{
    position: absolute;
    font-family: 'Neoteric Bold';
    top: 79%;
    left: 55%;
	  font-size: 1.3vw;
}
.allen-sub
{
    position: absolute;
    font-family: 'Permanent Marker', cursive;
    top: 82%;
    left: 55%;
	font-size: 1.3vw;
}
.m2
{
    position: absolute;
    top: 48.5%;
    left: 37.9%;
    height: 5vw;
    width: 5vw;
}
.vit
{
    position: absolute;
    font-family: 'Neoteric Bold';
    top: 48.5%;
    left: 26%;
	  font-size: 1.3vw;
}
.vit-sub
{
    position: absolute;
    font-family: 'Permanent Marker', cursive;
	  top: 54.5%;
    left: 26%;
	  font-size: 1.25vw;
}


/* Feature Area css
============================================================================================ */
#skills-txt{
  position: relative;
  font-family: 'NotoSansJP-Medium';
  font-size: 2.5rem;
  color: #27303b;    
  padding-left: 3%; 
  margin-top: 10%;
  margin-bottom: 10%;
}
.feature_item {
  padding: 50px 35px;
  border-radius: 10px;
  transition: all 300ms linear 0s;
  background: #fff;
  margin-bottom: 30px;
}
.feature_area{
	background: #f9f9ff;
}
.feature_inner{
	margin-bottom: -30px;
}
.fab{
  height: 200px;
  width:200px;
}
.icon{
  height: 8.5em;
  width: 8.5em;
  margin-bottom: 4em;
}
/* End Feature Area css
============================================================================================ */


 
  @media only screen and (max-width: 760px) {

      #bloom{
        position: absolute;
        height:50px;
        width:50px;
        margin-top: 2rem;
      }
      #landing-title{
        font-size: 4rem;
        padding-top: 8rem;
        padding-right: 5rem;
        text-align: center;
      }
      #landing-subtext{
        font-size: 1.5rem;
        padding-left: 1rem;
        margin-top: -3rem;
      }
      #name{
        font-size: 3rem;
      }
      #im{
        height:23%;
        width:25%;
        margin-top: 10%;
        padding-left: 2%;
      }
      #abt{
        margin-top: 50vw;
        font-size: 2rem;
      }
      #edu-text{
        margin-bottom: 10%;
      }
      .m1
      {
          top: 70.75%;
          left: 10%;
          height: 8vw;
          width: 8vw;
      }
      .ryan
      {
          top: 61%;
          left: 2%;
          font-size: 2.3vw;
      }
      .ryan-sub
      {
          position: absolute;
          font-family: 'Permanent Marker', cursive;
          top: 65%;
          left: 5%;
          font-size: 2.3vw;
      }
      .m3
      {
          top: 86%;
          left: 40.9%;
          height: 8vw;
          width: 8vw;
      }
      .allen
      {
          position: absolute;
          font-family: 'Neoteric Bold';
          top: 86%;
          left: 55%;
          font-size: 2.3vw;
      }
      .allen-sub
      {
          position: absolute;
          font-family: 'Permanent Marker', cursive;
          top: 89%;
          left: 55%;
          font-size: 2.3vw;
      }
      .m2
      {
          position: absolute;
          top: 49.5%;
          left: 27.9%;
          height: 8vw;
          width: 8vw;
      }
      .vit
      {
          position: absolute;
          font-family: 'Neoteric Bold';
          top: 39.5%;
          left: 20%;
          font-size: 2.3vw;
      }
      .vit-sub
      {
          position: absolute;
          font-family: 'Permanent Marker', cursive;
          top: 45.5%;
          left: 20%;
          font-size: 2.25vw;
      }
  }