*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-family: 'Permanent Marker', cursive;
}
#particles-js
{
    height: 100%;
    background: #ffffff;
    justify-content: center;
}
.particles-js-canvas-el
{
    position: absolute;
}
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar-brand img
{
    height: 60px;
    padding-left: 5px;
}

#landing-title
{
    padding-top: 130px;
    padding-left: 90px;
    font-family: 'DIN 30640 Std';
    font-size: 125px;
    color: #524E4B;
    text-align: center 
}
.landing-title img
{
    height: 100px;
    padding-right: 250px;
}
#landing-subtext
{
    padding-top: 40px;
    font-family: 'Permanent Marker', cursive;
    font-size: 25px;
    text-align: center  
}
#about
{
    padding-top: 85px;
    padding-right: 600px;
    position: relative;
}
.im
{
    position: absolute;
    top: 35%;
    left: 10%;
    height: 43px;
    width: 150px;
}
.me
{
    position: absolute;
    top: 35%;
    left: 70%;
    height: 325px;
    width: 325px;
}

.name
{
    position: absolute;
    top: 43%;
    left: 10%;
    font-family: 'DIN 30640 Std';
    font-size: 80px;
    color: #524E4B;
}
.abt{
    position: absolute;
    top: 20%;
    left: 10%;
    font-family: 'Neoteric-Bold';
    font-size: 40px;
    color: #524E4B;      
}
.desig
{
    position: absolute;
    top: 55%;
    left: 10%;
    font-family: 'Bebas-Neue-Pro-Book';
    font-size: 30px;
    color: #524E4B;
}
.info
{
    position: absolute;
    top: 65%;
    left: 10%;
    font-family: 'Permanent Marker';
    font-size: 20px;
    color: #524E4B;
}
.about-img
{
    margin-top: -80px;
}
#edu-text
{
    position: absolute;
    top: 260%;
    left: 10%;
    font-family: 'Neoteric-Bold';
    font-size: 40px;
    color: #524E4B;   
}
.tlpic
{
    margin-top: -150px;
    padding-right: 30px;
}
.m1
{
    position: absolute;
    top: 294%;
    left: 16%;
    height: 50px;
    width: 50px;
}
.ryan
{
    position: absolute;
    font-family: 'Neoteric-Bold';
    top: 293%;
    left: 6%;
    height: 50px;
}
.ryan-sub
{
    position: absolute;
    font-family: 'Permanent Marker', cursive;
    top: 302%;
    left: 6%;
    height: 50px;
}
.m3
{
    position: absolute;
    top: 336%;
    left: 55%;
    height: 50px;
    width: 50px; 
}
.allen
{
    position: absolute;
    font-family: 'Neoteric-Bold';
    top: 336%;
    left: 60%;
    height: 50px;
}
.allen-sub
{
    position: absolute;
    font-family: 'Permanent Marker', cursive;
    top: 345%;
    left: 58%;
    height: 50px;
}
.m2
{
    position: absolute;
    top: 284%;
    left: 38%;
    height: 50px;
    width: 50px;
}
.vit
{
    position: absolute;
    font-family: 'Neoteric-Bold';
    top: 284%;
    left: 28%;
    height: 50px;
}
.vit-sub
{
    position: absolute;
    font-family: 'Permanent Marker', cursive;
    top: 293%;
    left: 28%;
    height: 50px;
}
@font-face {
    font-family: 'DIN 30640 Std';
    src: url('fonts/DINNeuzeitGroteskStd-BdCond/DINNeuzeitGroteskStd-BdCond.eot');
    src: url('fonts/DINNeuzeitGroteskStd-BdCond/DINNeuzeitGroteskStd-BdCond.eot?#iefix') format('embedded-opentype'),
         url('fonts/DINNeuzeitGroteskStd-BdCond/DINNeuzeitGroteskStd-BdCond.woff2') format('woff2'),
         url('fonts/DINNeuzeitGroteskStd-BdCond/DINNeuzeitGroteskStd-BdCond.woff') format('woff'),
         url('fonts/DINNeuzeitGroteskStd-BdCond/DINNeuzeitGroteskStd-BdCond.ttf')  format('truetype'),
         url('fonts/DINNeuzeitGroteskStd-BdCond/DINNeuzeitGroteskStd-BdCond.svg#DIN 30640 Std') format('svg');
}
@font-face {
    font-family: 'Neoteric-Bold';
    src: url('fonts/Neoteric-Bold/Neoteric-Bold.eot');
    src: url('fonts/Neoteric-Bold/Neoteric-Bold?#iefix') format('embedded-opentype'),
         url('fonts/Neoteric-Bold/Neoteric-Bold.woff2') format('woff2'),
         url('fonts/Neoteric-Bold/Neoteric-Bold.woff') format('woff'),
         url('fonts/Neoteric-Bold/Neoteric-Bold.ttf')  format('truetype'),
         url('fonts/Neoteric-Bold/Neoteric-Bold.svg#DIN 30640 Std') format('svg');
}
@font-face {
    font-family: 'Bebas-Neue-Pro-Book';
    src: url('fonts/Bebas-Neue-Pro-Book/Bebas-Neue-Pro-Book.eot');
    src: url('fonts/Bebas-Neue-Pro-Book/Bebas-Neue-Pro-Book?#iefix') format('embedded-opentype'),
         url('fonts/Bebas-Neue-Pro-Book/Bebas-Neue-Pro-Book.woff2') format('woff2'),
         url('fonts/Bebas-Neue-Pro-Book/Bebas-Neue-Pro-Book.woff') format('woff'),
         url('fonts/Bebas-Neue-Pro-Book/Bebas-Neue-Pro-Book.ttf')  format('truetype'),
         url('fonts/Bebas-Neue-Pro-Book/Bebas-Neue-Pro-Book.svg#DIN 30640 Std') format('svg');
}
@font-face {
    font-family: 'Bahij_Janna-Regular';
    src: url('fonts/Bahij_Janna-Regular/Bahij_Janna-Regular.eot');
    src: url('fonts/Bahij_Janna-Regular/Bahij_Janna-Regular?#iefix') format('embedded-opentype'),
         url('fonts/Bahij_Janna-Regular/Bahij_Janna-Regular.woff') format('woff'),
         url('fonts/Bahij_Janna-Regular/Bahij_Janna-Regular.ttf')  format('truetype'),
         url('fonts/Bahij_Janna-Regular/Bahij_Janna-Regular.svg#DIN 30640 Std') format('svg');
}

