@font-face {
    font-family: 'Neoteric Bold';
    src: url('../assets/fonts/Neoteric Bold/NeotericBold.eot');
    src: url('../assets/fonts/Neoteric Bold/NeotericBold?#iefix') format('embedded-opentype'),
         url('../assets/fonts/Neoteric Bold/NeotericBold.woff2') format('woff2'),
         url('../assets/fonts/Neoteric Bold/NeotericBold.woff') format('woff'),
         url('../assets/fonts/Neoteric Bold/NeotericBold.ttf')  format('truetype'),
         url('../assets/fonts/Neoteric Bold/NeotericBold.svg') format('svg');
  }
  @font-face {
    font-family: 'Fira Sans';
    src: url('../assets/fonts/Fira Sans/FiraSans-Regular.eot');
    src: url('../assets/fonts/Fira Sans/FiraSans-Regular.woff2') format('woff2'),
         url('../assets/fonts/Fira Sans/FiraSans-Regular.woff') format('woff'),
         url('../assets/fonts/Fira Sans/FiraSans-Regular.ttf')  format('truetype'),
         url('../assets/fonts/Fira Sans/FiraSans-Regular.svg') format('svg');
  }
  @font-face{
    font-family: 'Noto Sans JP';
    src: url('../assets/fonts/Noto_Sans_JP/NotoSansJP-Bold.otf')  format('truetype');
  }
  @font-face{
    font-family: 'NotoSansJP-Medium';
    src: url('../assets/fonts/Noto_Sans_JP/NotoSansJP-Medium.otf')  format('truetype');
  }