*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}
html, body {
    max-width: 100%;
    background-color:  #ffffff;
}
body
{
    background-color:  #ffffff;
    overflow-x: hidden; 
    text-rendering: optimizeLegibility;
    font-family: 'Fira Sans', sans-serif;

}
.preload{
  text-align: center;
  width: 100%;
	height: 100vh;
	background: #fff url('https://punidramesh.tech/assets/images/Ataraxia-min.svg')
   no-repeat center center;	
  background-size: 200px;
  z-index: 99999;
}
.preload-finish{
  display: none;
  pointer-events: none;
}
.content{
  display: none;
}
.load-content{
  display: contents;
}
.floatingNav {
  transition: all 0.5s;
  box-shadow: -5.213px 21.213px 30px 0px rgba(158, 158, 158, 0.3);
}
.nav-link{
  font-family: "NotoSansJP-Medium";
  font-size: 1rem;
  color: #27303b;
}

/* Landing Area css
============================================================================================ */
#new{
  position: relative;
}
#landing-title
{
    position: absolute;
    padding-top: 8rem;
    padding-left: 6rem;
    font-family: 'Noto Sans JP';
    font-size: 575%;
    color: #27303b;
    text-align: center 
}
#bloom{
  height: 100px;
  width: 100px;
}
#landing-subtext
{
    position: absolute;
	  padding-top: 20rem;
    font-family: 'Fira Sans', cursive;
    font-size: 1.55rem;
    padding-left: 2rem;
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 90%;
  background-color: #ffffff;
}
.nav-link.active {
  background: green!important ;
}
/* End Landing Area css
============================================================================================ */

/* About Area css
============================================================================================ */
#about{
  position: relative;
  margin-top: 45vw;
  height: 120%;
  width: 100%;
}
#im
{
    position: relative;
    height: 19%;
    width: 25%;
    padding-left: 3%;
}
#me{
  height: 350px;
  width: 350px;
}
#name
{
    position: relative;
    font-family: 'Noto Sans JP';
    font-size: 3.25rem;
    padding-left: 5%;
	  color: #27303b;
}
#nameD
{
    position: relative;
    font-family: 'Noto Sans JP';
    font-size: 3.25rem;
    padding-left: 5%;
	  color: #27303b;
}
#abt{
  position: relative;
  font-family: 'NotoSansJP-Medium';
  font-size: 2.5rem;
  color: #27303b;    
  padding-left: 3%;  
  margin-bottom: 10%;
}
.text-nowrap {
  white-space: nowrap;
}
#myinfo
{
    position: relative;
    font-family: 'Fira Sans';
    font-size: 1rem;
    color: #524E4B;
    padding-left: 5%;
}
/* End About Area css
============================================================================================ */

/* Education Area css
============================================================================================ */
#timeline
{
    margin-top: 10%;
    position: relative;
}
#lan-mob{
  width: 100%;
}
#edu-text{
  position: relative;
  font-family: 'NotoSansJP-Medium';
  font-size: 2.5rem;
  color: #27303b;    
  padding-left: 3%; 
  margin-top: 10%;
  margin-bottom: -5%;
}
.tlpic
{
	height: 60vw;
  width: 140vw;
	padding-right: 35vw;
	padding-top: -300vw;
}
.m1
{
    position: absolute;
    top: 61.75%;
    left: 16%;
    height: 5vw;
    width: 5vw;
}
.ryan
{
    position: absolute;
    font-family: 'Neoteric Bold';
    top: 61%;
    left: 5%;
	  font-size: 1.3vw;
}
.ryan-sub
{
    position: absolute;
    font-family: 'Fira Sans', cursive;
    top: 64%;
    left: 5%;
	  font-size: 1vw;
}
.m3
{
    position: absolute;
    top: 79%;
    left: 48.9%;
    height: 5vw;
    width: 5vw;
}
.allen
{
    position: absolute;
    font-family: 'Neoteric Bold';
    top: 79%;
    left: 55%;
	  font-size: 1.3vw;
}
.allen-sub
{
    position: absolute;
    font-family: 'Fira Sans', cursive;
    top: 82%;
    left: 55%;
	  font-size: 1vw;
}
.m2
{
    position: absolute;
    top: 53%;
    left: 37.9%;
    height: 5vw;
    width: 5vw;
}
.vit
{
    position: absolute;
    font-family: 'Neoteric Bold';
    top: 52%;
    left: 26%;
	  font-size: 1.3vw;
}
.vit-sub
{
    position: absolute;
    font-family: 'Fira Sans', cursive;
	  top: 58%;
    left: 26%;
	  font-size: 1vw;
}
/* End Eduction Area css
============================================================================================ */

/* Skills Area css
============================================================================================ */
#skills-txt{
  position: relative;
  font-family: 'NotoSansJP-Medium';
  font-size: 2.5rem;
  color: #27303b;    
  padding-left: 3%; 
  margin-top: 10%;
  margin-bottom: 10%;
}
.feature_item {
  padding: 25px 35px;
  border-radius: 10px;
  transition: all 300ms linear 0s;
  background: #fff;
  margin-bottom: 30px;
}
#feature_area{
	background: #f9f9ff;
}
.feature_inner{
	margin-bottom: -30px;
}
.fab{
  height: 200px;
  width:200px;
}
.icon{
  height: 8.5em;
  width: 8.5em;
  margin-bottom: 4em;
}
/* End Feature Area css
============================================================================================ */

/* Projects Area css
============================================================================================ */
#arty-info{
  position: relative;
  font-family: 'Fira Sans';
  font-size: 1rem;
  color: #524E4B;
  padding-left: 5%;
  margin-top: 5%;
}
#arty-img{
  height: 300px;
  width: 500px;
}
#projects-txt{
  position: relative;
  font-family: 'NotoSansJP-Medium';
  font-size: 2.5rem;
  color: #27303b;    
  padding-left: 3%; 
  margin-top: 10%;
  margin-bottom: 10%;
}
button.btn{
  background-color: #000;
  color: white;
  font-size: 15px;
  letter-spacing: 2px;
  padding: 10px 30px;
  text-transform: uppercase;
  display: inline-block;
  margin: 15px 5%;
  border-radius: 0%;
}
#sf-img{
  border-radius: 20px;
  height: 300px;
  width: 500px;
}
.mt-5{
  margin-top: 10%;
}
.Container-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 100;
  position: relative;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.u-justify-start {
  -webkit-box-pack: start!important;
  -ms-flex-pack: start!important;
  justify-content: flex-start!important;
}
.u-paddingT20 {
  padding-left: 5%;
}
.u-bg-darkGrey {
  background-color: #f7f7f7;
  border-radius: 20px;
  padding:5px 10px;
  margin-right: 15px;
}
.u-fontSize-h6 {
  font-size: 14px;
}
.u-fontWeight-light {
  font-weight: 300;
}
.u-letterSpacing_1 {
  letter-spacing: .01em;
}
.Container-text h5 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 28px;
}
#projects{
  margin-bottom: 15%;
}
/* End Projects Area css
============================================================================================ */

/* Blogs Area css
============================================================================================ */
#blogs-txt{
  position: relative;
  font-family: 'NotoSansJP-Medium';
  font-size: 2.5rem;
  color: #27303b;    
  padding-left: 3%; 
  margin-top: 10%;
  margin-bottom: 10%;
}
#blog_area{
	background: #f9f9ff;
}
#md1-img{
  height: 150px;
  width: 300px;
  border-radius: 10px;
}
/* End Blogs Area css
============================================================================================ */

/* Contact Area css
============================================================================================ */

#contact-txt{
  position: relative;
  font-family: 'NotoSansJP-Medium';
  font-size: 2.5rem;
  color: #27303b;    
  padding-left: 3%; 
  margin-top: 10%;
}
textarea {
  outline: none;
  border: none;
}
textarea:focus, input:focus {
  border-color: transparent !important;
}


input::-webkit-input-placeholder { color: #999999;}
input:-moz-placeholder { color: #999999;}
input::-moz-placeholder { color: #999999;}
input:-ms-input-placeholder { color: #999999;}

textarea::-webkit-input-placeholder { color: #999999;}
textarea:-moz-placeholder { color: #999999;}
textarea::-moz-placeholder { color: #999999;}
textarea:-ms-input-placeholder { color: #999999;}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*---------------------------------------------*/
.container {
	max-width: 1200px;
}




/*//////////////////////////////////////////////////////////////////
[ Contact ]*/

.container-contact100 {
  width: 100%;  
  min-height: 50vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  position: relative;
  z-index: 1;
}

.container-contact100::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.wrap-contact100 {
  width: 800px;
  background: transparent;
  border-radius: 10px;
  overflow: hidden;
  padding: 72px 150px 25px 150px;
}


/*==================================================================
[ Form ]*/

.contact100-form {
  width: 100%;
}

.contact100-form-title {
  display: block;
  font-family: SourceSansPro-Bold;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: left;
  padding-bottom: 34px;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 30px;
}

.input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-family: SourceSansPro-Bold;
  font-size: 16px;
  color: #4b2354;
  border-color: transparent;
  line-height: 1.2;
}


/*---------------------------------------------*/
input.input100 {
  height: 62px;
  padding: 0 20px 0 23px;
}


textarea.input100 {
  min-height: 199px;
  padding: 19px 20px 0 23px;
}

/*------------------------------------------------------------------
[ Focus Input ]*/

.focus-input100 {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  border-radius: 20px;
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.05);

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100 {
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.15);
}

/*------------------------------------------------------------------
[ Button ]*/
.container-contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 43px;
}

.contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 42px;
  background-color: #000000;
  border-radius: 21px;

  font-family: Fira Sans;
  font-size: 14px;
  color: #fff;
  line-height: 1.2;
  padding-top: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  box-shadow: 0 10px 30px 0px rgba(66, 65, 65, 0.5);
  -moz-box-shadow: 0 10px 30px 0px rgba(66, 65, 65, 0.5);
  -webkit-box-shadow: 0 10px 30px 0px rgba(66, 65, 65, 0.5);
  -o-box-shadow: 0 10px 30px 0px rrgba(66, 65, 65, 0.5);
  -ms-box-shadow: 0 10px 30px 0px rgba(66, 65, 65, 0.5);
}

.contact100-form-btn:hover {
  background-color: #ed375f;
  box-shadow: 0 10px 30px 0px rgba(66, 65, 65, 0.8);
  -moz-box-shadow: 0 10px 30px 0px rgba(66, 65, 65, 0.8);
  -webkit-box-shadow: 0 10px 30px 0px rgba(66, 65, 65, 0.8);
  -o-box-shadow: 0 10px 30px 0px rgba(66, 65, 65, 0.8);
  -ms-box-shadow: 0 10px 30px 0px rgba(66, 65, 65, 0.8);
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 768px) {
  .wrap-contact100 {
    padding: 72px 50px 25px 50px;
  }
}

@media (max-width: 576px) {
  .wrap-contact100 {
    padding: 72px 15px 25px 15px;
  }
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate .focus-input100 {
  box-shadow: 0 5px 20px 0px rgba(250, 66, 81, 0.1);
  -moz-box-shadow: 0 5px 20px 0px rgba(250, 66, 81, 0.1);
  -webkit-box-shadow: 0 5px 20px 0px rgba(250, 66, 81, 0.1);
  -o-box-shadow: 0 5px 20px 0px rgba(250, 66, 81, 0.1);
  -ms-box-shadow: 0 5px 20px 0px rgba(250, 66, 81, 0.1);
}

.alert-validate::before {
  content: attr(data-validate);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  min-height: 62px;
  background-color: #fff;
  border-radius: 20px;
  top: 0px;
  left: 0px;
  padding: 0 45px 0 22px;
  pointer-events: none;

  font-family: SourceSansPro-Bold;
  font-size: 16px;
  color: #fa4251;
  line-height: 1.2;
}



.rs1-alert-validate.alert-validate::before {
  background-color: #fff;
}

.true-validate::after {
  content: "\f269";
  font-family: Material-Design-Iconic-Font;
  font-size: 15px;
  color: #57b846;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 62px;
  top: 0px;
  right: 28px;
}

/*---------------------------------------------*/
@media (max-width: 576px) {
  .alert-validate::before {
    padding: 0 30px 0 10px;
  }

  .true-validate::after,
  .btn-hide-validate {
    right: 10px;
  }
}


/*==================================================================
[ Contact more ]*/

.contact100-more {
  font-family: SourceSansPro-Regular;
  font-size: 16px;
  color: #999999;
  line-height: 1.5;
  text-align: center;
}

.contact100-more-highlight {
  color: #000000;
}
/* End Contact Area css
============================================================================================ */


/* Footer Area css
============================================================================================ */
footer{
	background-color: #000000;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;
	padding: 45px 50px;
}

footer .footer-limiter {
	max-width: 880px;
	margin: 0 auto;
}

footer .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

/* Footer links */

footer p.footer-links{
  font-size:2rem;
  font-family: Fira Sans;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
  padding-top: 5px;
}

footer p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

footer .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

footer .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-left: 3px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	footer .footer-left,
	footer .footer-right{
		text-align: center;
	}

	footer .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	footer .footer-left p.footer-links{
		line-height: 1.8;
	}
}

/* End Footer Area css
============================================================================================ */

 /* Responsive css
============================================================================================ */
  @media only screen and (max-width: 760px) {

      #bloom{
        position: absolute;
        height:50px;
        width:50px;
        margin-top: 2rem;
      }
      #landing-title{
        font-size: 4rem;
        padding-top: 8rem;
        padding-right: 5rem;
        text-align: center;
      }
      #landing-subtext{
        font-size: 1.5rem;
        padding-left: 1rem;
        margin-top: -3rem;
      }
      #name{
        margin-top: 15%;
        font-size: 2rem;
        margin-left: 10px;
      }
      #nameD{
        font-size: 2rem;
      }
      .u-bg-darkGrey {
        margin-left: 5px;
      }
      .btn{
        margin-left: 5px;
      }
      #me{
        height: 300px;
        width: 300px;
      }
      #im{
        height:23%;
        width:25%;
        margin-top: 10%;
        padding-left: 2%;
      }
      #abt{
        margin-top: 100vw;
        font-size: 2.5rem;
      }
      #edu-text{
        margin-bottom: 10%;
      }
      .m1
      {
          top: 70.75%;
          left: 10%;
          height: 8vw;
          width: 8vw;
      }
      .ryan
      {
          top: 61%;
          left: 2%;
          font-size: 2.3vw;
      }
      .ryan-sub
      {
          position: absolute;
          font-family: 'Fira Sans', cursive;
          top: 65%;
          left: 5%;
          font-size: 2.3vw;
      }
      .m3
      {
          top: 86%;
          left: 40.9%;
          height: 8vw;
          width: 8vw;
      }
      .allen
      {
          position: absolute;
          font-family: 'Neoteric Bold';
          top: 86%;
          left: 55%;
          font-size: 2.3vw;
      }
      .allen-sub
      {
          position: absolute;
          font-family: 'Fira Sans', cursive;
          top: 89%;
          left: 55%;
          font-size: 2.3vw;
      }
      .m2
      {
          position: absolute;
          top: 49.5%;
          left: 27.9%;
          height: 8vw;
          width: 8vw;
      }
      .vit
      {
          position: absolute;
          font-family: 'Neoteric Bold';
          top: 39.5%;
          left: 20%;
          font-size: 2.3vw;
      }
      .vit-sub
      {
          position: absolute;
          font-family: 'Fira Sans', cursive;
          top: 45.5%;
          left: 20%;
          font-size: 2.25vw;
      }
      #contact-txt{
        margin-top: 30%;
      }
      #blogs-txt{
        margin-top: 10%;
      }
      #blogs-txt{
        margin-top: 20%;
      }
      #projects-txt{
        margin-top: 30%;
      }
      #footer-img{
        margin-bottom: -3%;
      }
  }