*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body
{
    overflow-x: hidden; 
    font-family: 'Permanent Marker', cursive;
}
#nav-bar
{
    position: sticky;
	top: 0;
	position: fixed;
    width: 100%;
    z-index: 10;
}
.navbar-brand img
{
    height: 60px;
    padding-left: 5px;
}
@font-face {
    font-family: 'tesla';
    src: url('fonts/tesla/TESLA.eot');
    src: url('fonts/tesla/TESLA.eot?#iefix') format('embedded-opentype'),
         url('fonts/tesla/TESLA.woff2') format('woff2'),
         url('fonts/tesla/TESLA.woff') format('woff'),
         url('fonts/tesla/TESLA.ttf')  format('truetype'),
         url('fonts/tesla/TESLA.svg#') format('svg');
}
@font-face {
    font-family: 'DIN 30640 Std';
    src: url('fonts/DINNeuzeitGroteskStd-BdCond/DINNeuzeitGroteskStd-BdCond.eot');
    src: url('fonts/DINNeuzeitGroteskStd-BdCond/DINNeuzeitGroteskStd-BdCond.eot?#iefix') format('embedded-opentype'),
         url('fonts/DINNeuzeitGroteskStd-BdCond/DINNeuzeitGroteskStd-BdCond.woff2') format('woff2'),
         url('fonts/DINNeuzeitGroteskStd-BdCond/DINNeuzeitGroteskStd-BdCond.woff') format('woff'),
         url('fonts/DINNeuzeitGroteskStd-BdCond/DINNeuzeitGroteskStd-BdCond.ttf')  format('truetype'),
         url('fonts/DINNeuzeitGroteskStd-BdCond/DINNeuzeitGroteskStd-BdCond.svg#DIN 30640 Std') format('svg');
}
@font-face {
    font-family: 'Neoteric Bold';
    src: url('fonts/Neoteric Bold/NeotericBold.eot');
    src: url('fonts/Neoteric Bold/NeotericBold?#iefix') format('embedded-opentype'),
         url('fonts/Neoteric Bold/NeotericBold.woff2') format('woff2'),
         url('fonts/Neoteric Bold/NeotericBold.woff') format('woff'),
         url('fonts/Neoteric Bold/NeotericBold.ttf')  format('truetype'),
         url('fonts/Neoteric Bold/NeotericBold.svg#DIN 30640 Std') format('svg');
}
@font-face {
    font-family: 'Bebas-Neue-Pro-Book';
    src: url('fonts/Bebas-Neue-Pro-Book/Bebas-Neue-Pro-Book.eot');
    src: url('fonts/Bebas-Neue-Pro-Book/Bebas-Neue-Pro-Book?#iefix') format('embedded-opentype'),
         url('fonts/Bebas-Neue-Pro-Book/Bebas-Neue-Pro-Book.woff2') format('woff2'),
         url('fonts/Bebas-Neue-Pro-Book/Bebas-Neue-Pro-Book.woff') format('woff'),
         url('fonts/Bebas-Neue-Pro-Book/Bebas-Neue-Pro-Book.ttf')  format('truetype'),
         url('fonts/Bebas-Neue-Pro-Book/Bebas-Neue-Pro-Book.svg#DIN 30640 Std') format('svg');
}
@font-face {
    font-family: 'Bahij_Janna-Regular';
    src: url('fonts/Bahij_Janna-Regular/Bahij_Janna-Regular.eot');
    src: url('fonts/Bahij_Janna-Regular/Bahij_Janna-Regular?#iefix') format('embedded-opentype'),
         url('fonts/Bahij_Janna-Regular/Bahij_Janna-Regular.woff') format('woff'),
         url('fonts/Bahij_Janna-Regular/Bahij_Janna-Regular.ttf')  format('truetype'),
         url('fonts/Bahij_Janna-Regular/Bahij_Janna-Regular.svg#DIN 30640 Std') format('svg');
}
#landing-title
{
    padding-top: 130px;
    padding-left: 90px;
    font-family: 'DIN 30640 Std';
    font-size: 125px;
    color: #524E4B;
    text-align: center 
}
.landing-title img
{
    height: 100px;
    padding-right: 250px;
}
#landing-subtext
{
    padding-top: 40px;
    font-family: 'Permanent Marker', cursive;
    font-size: 25px;
    text-align: center  
}
#about
{
    padding-top: 85px;
    padding-right: 600px;
    position: relative;
}
#im
{
    position: absolute;
    top: 35%;
    left: 10%;
    height: 3.5vw;
    width: 11.5vw;
}
.me
{
    position: absolute;
    top: 35%;
	left: 70vw;
    height: 27vw;
    width: 27vw;
}

.name
{
    position: absolute;
    top: 43%;
    left: 10%;
    font-family: 'DIN 30640 Std';
    font-size: 6vw;
	color: #524E4B;
}
#abt{
    position: absolute;
    top: 20%;
    left: 10%;
    font-family: 'Neoteric Bold';
    font-size: 4vw;
    color: #524E4B;      
}
.desig
{
    position: absolute;
    top: 55%;
    left: 10%;
    font-family: 'Bebas-Neue-Pro-Book';
    font-size: 2vw;
    color: #524E4B;
}
.info
{
    position: absolute;
    top: 65%;
    left: 10%;
    font-family: 'Permanent Marker';
    font-size: 1.5vw;
    color: #524E4B;
}
.about-img
{
	height: 60vw;
	width: 120vw;
	margin-top: -80px;
}
#timeline
{
    position: relative;
}
#edu-text
{
    position: absolute;
    top: 20%;
    left: 10%;
    font-family: 'Neoteric Bold';
    font-size: 4vw;
    color: #524E4B;   
}
.tlpic
{
	height: 60vw;
	width: 140vw;
	padding-right: 35vw;
	padding-top: -300vw;
}
.m1
{
    position: absolute;
    top: 55.75%;
    left: 16%;
    height: 5vw;
    width: 5vw;
}
.ryan
{
    position: absolute;
    font-family: 'Neoteric Bold';
    top: 55%;
    left: 5%;
	font-size: 1.3vw;
}
.ryan-sub
{
    position: absolute;
    font-family: 'Permanent Marker', cursive;
    top: 58%;
    left: 5%;
	font-size: 1.3vw;
}
.m3
{
    position: absolute;
    top: 79%;
    left: 50.9%;
    height: 5vw;
    width: 5vw;
}
.allen
{
    position: absolute;
    font-family: 'Neoteric Bold';
    top: 79%;
    left: 59%;
	font-size: 1.3vw;
}
.allen-sub
{
    position: absolute;
    font-family: 'Permanent Marker', cursive;
    top: 82%;
    left: 59%;
	font-size: 1.3vw;
}
.m2
{
    position: absolute;
    top: 48.5%;
    left: 37.9%;
    height: 5vw;
    width: 5vw;
}
.vit
{
    position: absolute;
    font-family: 'Neoteric Bold';
    top: 48.5%;
    left: 28%;
	font-size: 1.3vw;
}
.vit-sub
{
    position: absolute;
    font-family: 'Permanent Marker', cursive;
	top: 54.5%;
    left: 28%;
	font-size: 1.25vw;
}
.act-img
{
	padding-top: -150px;
}

#activities
{
	position: relative;	
}
#act-text
{
	position: absolute;
    top: 8vw;
    left: 10vw;
    font-family: 'Neoteric Bold';
    font-size: 4vw;
    color: #524E4B;
}
.act-img
{
	height: 750px;
	width: 1500px;
}
.fid{
	font-family:'Permanent Marker';
	font-size: 2vw;
	text-align: center;
	margin-top: 2.5vw;
	margin-bottom: 1vw;
}
.ftext{
	font-family: "Roboto", sans-serif;
	color: #555;
	line-height: 1vw;
	text-align: center;
}
.dsct1
{
	font-family:'Permanent Marker';
	font-size: 2vw;
	text-align: center;
	margin-top: 2.5vw;
	margin-bottom: 1vw;
	padding-left: 1.5vw;
}
.dsct2
{
	font-family: "Roboto", sans-serif;
	color: #555;
	line-height: 1vw;
	text-align: center;
	padding-left: 1.5vw;
}
.dsct3
{
	font-family: "Roboto", sans-serif;
	color: #555;
	line-height: 1vw;
	text-align: center;
	padding-left: 1.5vw;
}
.iot1
{
	font-family:'Permanent Marker';
	font-size: 2vw;
	text-align: center;
	margin-top: 2.5vw;
	margin-bottom: 1vw;
	padding-left: 1vw;
}
.iot2
{
	font-family: "Roboto", sans-serif;
	color: #555;
	line-height: 1vw;
	text-align: center;
	padding-left: 1vw;
}
.iot3
{
	font-family: "Roboto", sans-serif;
	color: #555;
	line-height: 1vw;
	text-align: center;
	padding-left: 1vw;
}
.flipper .info{
	padding: 16px;
}
.bid{
    font-family:'Permanent Marker';
	font-size: 2vw;
	margin-top: -21vw;
	text-align: center;
	margin-bottom: 3vw;
	padding-right: 1vw;
}
.btext{
    font-family: "Roboto", sans-serif;
    color: #555;
    line-height: 2vw;
	text-align: center;
	margin-bottom: 2vw;
	margin-top: -1vw;
}
.img2
{
	height: 25vw;
	width: 25vw;
}
.cardContainer1{
    position: absolute;
    top: 15vw;
    left: 5vw;
    margin-right: 5vw;
    -webkit-perspective: 1000px;
            perspective: 1000px;
}
.cardContainer2{
    position: absolute;
    top: 15vw;
    left: 38.35vw;
    margin-right: 5vw;
    -webkit-perspective: 1000px;
            perspective: 1000px;
}
.cardContainer3{
    position: absolute;
    top: 15vw;
    left: 71vw;
    margin-right: 5vw;
    -webkit-perspective: 1000px;
            perspective: 1000px;
}
.flip-container {
	perspective: 1000px;
}
.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 320px;
	height: 480px;
}
.flipper {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 2vw;
    box-shadow: 0 14px 50px -4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transform: translateZ(-100px);
            transform: translateZ(-100px);
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.front {
	z-index: 2;
	transform: rotateY(0deg);
}
.back {
	transform: rotateY(180deg);
}
.flip-container .info
{
	padding: 1.25vw;
}
#skills
{
	position: relative;
}
#ski-text
{
	position: absolute;
    top: 8vw;
    left: 10vw;
    font-family: 'Neoteric Bold';
    font-size: 4vw;
    color: #524E4B;
} 
#python
{
	font-family: 'Permanent Marker';
	font-size: 1.5vw;
	margin-left: 5vw;
}
#java
{
	font-family: 'Permanent Marker';
	font-size: 1.5vw;
	margin-left: 5.9vw;
}
#cpp
{
	font-family: 'Permanent Marker';	
	font-size: 1.5vw;
	margin-left: 6.9vw;
}
#ml
{
	font-family: 'Permanent Marker';
	font-size: 1.5vw;
	margin-left: 6.7vw;
}
#photoshop
{
	font-family: 'Permanent Marker';
	font-size: 1.5vw;
	margin-left: 4vw;
}
#web
{
	font-family: 'Permanent Marker';
	font-size: 1.5vw;
	margin-left: 4vw;
}
.grid-container {
	position: absolute;
	display: grid;
	padding-left: 2.5vw;
	grid-template-columns: auto auto auto;
	padding-top: 20vw;
	grid-row-gap: 10vw;
	grid-column-gap: 15vw;
	
}
.pie-wrapper {
	display: inline-block;
	height: 15.625vw;
	margin: 0.78125vw;
	position: relative;
	width: 15.625vw;
  }
  .pie-wrapper .pie { 
	margin-top: 1.9vw;
	clip: rect(0, 15.625vw, 15.625vw, 7.8125vw);
	height: 15.625vw;
	position: absolute;
	width: 15.625vw;
  }
  .pie-wrapper .pie .half-circle {
	border: 20px solid #3498db;
	border-radius: 50%;
	clip: rect(0, 7.8125vw, 15.625vw, 0);
	height: 15.625vw;
	position: absolute;
	width: 15.625vw;
  }
  .pie-wrapper .label {
	margin-top: 5.3vw;	  
	background: #354759;
	border-radius: 50%;
	color: #ecf0f1;
	cursor: default;
	display: block;
	font-size: 3em;
	height: 160px;
	left: 10%;
	line-height: 3em;
	position: absolute;
	text-align: center;
	top: 10%;
	width: 160px;
  }
  .pie-wrapper .label .smaller {
	color: #bdc3c7;
	font-size: 0.45em;
	padding-bottom: 20px;
	vertical-align: super;
  }
  .pie-wrapper.style-2 .shadow {
	border: 20px solid #bdc3c7;
	border-radius: 50%;
	height: 100%;
	width: 100%;
  }
  .pie-wrapper.style-2 .label {
	background: none;
	color: #524E4B;
  }
  .pie-wrapper.style-2 .label .smaller {
	color: #bdc3c7;
  }
  .pie-wrapper.progress-python .pie {
	margin-top: 0vw;	  
	clip: rect(auto, auto, auto, auto);
  }
  .pie-wrapper.progress-python .pie .right-side {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
  }
  .pie-wrapper.progress-python .pie .half-circle {
	border-color: #93EDC7;
  }
  .pie-wrapper.progress-python .pie .left-side {
	-webkit-transform: rotate(216deg);
	-moz-transform: rotate(216deg);
	-ms-transform: rotate(216deg);
	-o-transform: rotate(216deg);
	transform: rotate(216deg);
  }
  .pie-wrapper.progress-java .pie {
	clip: rect(auto, auto, auto, auto);
  }
  .pie-wrapper.progress-java .pie .right-side {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
  }
  .pie-wrapper.progress-java .pie .half-circle {
	border-color: #F3A183;
  }
  .pie-wrapper.progress-java .pie .left-side {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
  }
  .pie-wrapper.progress-ml .pie .right-side {
	display: none;
  }
  .pie-wrapper.progress-ml .pie .half-circle {
	border-color: #ff7e5f;
  }
  .pie-wrapper.progress-ml .pie .left-side {
	-webkit-transform: rotate(108deg);
	-moz-transform: rotate(108deg);
	-ms-transform: rotate(108deg);
	-o-transform: rotate(108deg);
	transform: rotate(108deg);
  }  
  .pie-wrapper.progress-photoshop .pie .right-side {
	display: none;
  }
  .pie-wrapper.progress-photoshop .pie .half-circle {
	border-color: #4776E6;
  }
  .pie-wrapper.progress-photoshop .pie .left-side {
	-webkit-transform: rotate(108deg);
	-moz-transform: rotate(108deg);
	-ms-transform: rotate(108deg);
	-o-transform: rotate(108deg);
	transform: rotate(108deg);
  }  
  .pie-wrapper.progress-web .pie .right-side {
	display: none;
  }
  .pie-wrapper.progress-web .pie .half-circle {
	border-color: #ED4264;
  }
  .pie-wrapper.progress-web .pie .left-side {
	-webkit-transform: rotate(72deg);
	-moz-transform: rotate(72deg);
	-ms-transform: rotate(72deg);
	-o-transform: rotate(72deg);
	transform: rotate(72deg);
  }  
  .pie-wrapper.progress-c .pie {
	clip: rect(auto, auto, auto, auto);
  }
  .pie-wrapper.progress-c .pie .right-side {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
  }
  .pie-wrapper.progress-c .pie .half-circle {
	border-color: #96DEDA;
  }
  .pie-wrapper.progress-c .pie .left-side {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
  } 
#resume
{
	position: relative;
} 
#t2
{
	margin-top: 40vw;
	height: 90vw;
	width: 45vw;
}
#resume-text
{
	position: relative;
    top: 81vw;
    left: 10vw;
    font-family: 'Neoteric Bold';
    font-size: 4vw;
	color: #524E4B;
} 
.rtxt
{
	position: relative;
	font-family: 'DIN 30640 Std';
	font-size: 7vw;
    top: 85vw;
    left: 55vw;
}
body .btn,
body .btn2 {
	position: absolute;
	  top: 110.5vw;
	  left: 70vw;
	width: 10.4375vw;
	height: 3.8125vw;
	font-size: 1.04375vw;
	text-align: center;
	line-height: 2.9125vw;
	color: rgba(255,255,255,0.9);
	border-radius: 50px;
	background: linear-gradient(-45deg, #ffa63d, #ff3d77, #338aff, #3cf0c5);
	background-size: 600%;
	-webkit-animation: anime 16s linear infinite;
			animation: anime 16s linear infinite;
	}
body .btn2 {
	margin-top: -110.46875vw;
	left: -0.1vw;
	z-index: -1;
	-webkit-filter: blur(2.34375vw);
			filter: blur(2.34375vw);
	opacity: 0.8;
}
@-webkit-keyframes anime {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes anime {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
#c-text
{
	position: relative;
    top: -3vw;
    left: 10vw;
    font-family: 'Neoteric Bold';
    font-size: 4vw;
	color: #524E4B;
}
.f-background {
	top: -10vw;
	display: flex;
	min-height: 100vh;
  }
  
  .c-container {
	flex: 0 1 700px;
	margin: auto;
	padding: 10px;
  }
  
  .screen {
	position: relative;
	background: #3e3e3e;
	border-radius: 15px;
  }
  
  .screen:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 20px;
	right: 20px;
	bottom: 0;
	border-radius: 15px;
	box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
	z-index: -1;
  }
  
  .screen-header {
	display: flex;
	align-items: center;
	padding: 10px 20px;
	background: #4d4d4f;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
  }
  
  .screen-header-left {
	margin-right: auto;
  }
  
  .screen-header-button {
	display: inline-block;
	width: 8px;
	height: 8px;
	margin-right: 3px;
	border-radius: 8px;
	background: white;
  }
  
  .screen-header-button.close {
	background: #5ef518;
	margin-top: 0.7vw;
	height: 0.7vw;
	width: 0.7vw;
	margin-left: 0.4vw;
  }
  
  .screen-header-button.maximize {
	background: #ed1c1c;
	height: 0.75vw;
	width: 0.75vw;
  }
  
  .screen-header-button.minimize {
	background: #e8e925; 
	height: 0.7vw;
	width: 0.7vw;
  }
  
  .screen-header-right {
	display: flex;
  }
  
  .screen-header-ellipsis {
	width: 3px;
	height: 3px;
	margin-left: 2px;
	border-radius: 8px;
	background: #999;
  }
  
  .screen-body {
	display: flex;
  }
  
  .screen-body-item {
	flex: 1;
	padding: 50px;
  }
  
  .screen-body-item.left {
	display: flex;
	flex-direction: column;
  }
  .app-title {
	display: flex;
	flex-direction: column;
	position: relative;
	color: #ffffff;
	font-size: 26px;
  }
  
  .app-title:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: -10px;
	width: 25px;
	height: 4px;
	background: #ffffff;
  }
  
  .app-contact {
	margin-top: auto;
	font-size: 8px;
	color: #888;
  }
  
  .app-form-group {
	margin-bottom: 15px;
  }
  
  .app-form-group.message {
	margin-top: 40px;
  }
  
  .app-form-group.buttons {
	margin-bottom: 0;
	text-align: right;
	padding-top: 1vw;
  }
  .app-form-control {
	width: 100%;
	padding: 10px 0;
	background: none;
	border: none;
	border-bottom: 1px solid #666;
	color: #ddd;
	font-size: 14px;
	text-transform: uppercase;
	outline: none;
	transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
	color: #666;
  }
  
  .app-form-control:focus {
	border-bottom-color: #ddd;
  }
  
  .app-form-button {
	background: none;
	border: none;
	color: #ea1d6f;
	font-size: 14px;
	cursor: pointer;
	outline: none;
  }
  
  .app-form-button:hover {
	color: #b9134f;
  }
  

@media screen and (max-width: 720px) {
	.screen-body {
	  flex-direction: column;
	}
  
	.screen-body-item.left {
	  margin-bottom: 30px;
	}
  
	.app-title {
	  flex-direction: row;
	}
  
	.app-title span {
	  margin-right: 12px;
	}
  
	.app-title:after {
	  display: none;
	}
  }
  
  @media screen and (max-width: 600px) {
	.screen-body {
	  padding: 40px;
	}
  
	.screen-body-item {
	  padding: 0;
	}
  }
.arrow{
	margin-left: 95vw;
	height: 5vw;
	width: 2vw;
	margin-top: -10vw;
}  

/*Mobile View stuff*/

@media only screen and (max-width: 720px) {
	#landing-title
	{
		top: 20%;
		left: 10%;
		font-family: 'DIN 30640 Std';
		font-size: 23vw;
		color: #524E4B;
		text-align: center 
	}
	.landing-title img
	{
		height: 18vw;
		padding-right: 250px;
	}
	#landing-subtext
	{
		top: 30%;
		left: 10%;
		font-family: 'Permanent Marker', cursive;
		font-size: 5vw;
		text-align: center  
	}
	.about-img
	{
		height: 140vw;
		width: 180vw;
		margin-top: -80px;
	}
	#abt{
		padding-top: 40vw;
		position: absolute;
		top: -15vw;
		left: 25%;
		font-family: 'Neoteric-Bold';
		font-size: 6vw;
		color: #524E4B;      
	}
	.me
	{
			position: absolute;
			left: 32.5vw;
			top: 25%;
			height: 35vw;
			width: 35vw;
	}
	#im
	{
		position: absolute;
		top: 73vw;
		left: 43vw;
		height: 5.5vw;
		width: 13.5vw;
	}
	.name
	{
		position: absolute;
		top: 81vw;
		left: 35.5vw;
		font-family: 'DIN 30640 Std';
		font-size: 6vw;
		color: #524E4B;
	}

	.desig
	{
		position: absolute;
		top: 88vw;
		left: 38.4vw;
		font-family: 'Bebas-Neue-Pro-Book';
		font-size: 4vw;
		color: #524E4B;
		margin-bottom: 5vw;
	}
	.info
	{
		position: absolute;
		top: 103vw;
		left: 10vw;
		text-align: center;
		font-family: 'Permanent Marker';
		font-size: 3vw;
		color: #524E4B;
	}
	#timeline
	{
		position: relative;
		padding-right: 40vw;
		height: 150vw;
		width: 250vw;
	}
	#edu-text
	{
		position: absolute;
		top: 13%;
		left: 14%;
		font-family: 'Neoteric-Bold';
		font-size: 6vw;
		color: #524E4B;   
	}
	.tlpic
	{
		height: 140vw;
		width: 220vw;
		padding-right: 40vw;
		padding-top: -300vw;
	}
	.m1
	{
		position: absolute;
		top:52.75%;
		left: 11.5%;
		height: 5vw;
		width: 5vw;
	}
	.ryan
	{
		position: absolute;
		font-family: 'Neoteric-Bold';
		top: 45%;
		left: 8%;
		font-size: 3.3vw;
	}
	.ryan-sub
	{
		position: absolute;
		font-family: 'Permanent Marker', cursive;
		top: 49%;
		left: 9.5%;
		font-size: 2.3vw;
	}
	.m3
	{
		position: absolute;
		top: 70.2%;
		left: 32%;
		height: 5vw;
		width: 5vw;
	}
	.allen
	{
		position: absolute;
		font-family: 'Neoteric-Bold';
		top: 81%;
		left: 28%;
		font-size: 3.3vw;
	}
	.allen-sub
	{
		position: absolute;
		font-family: 'Permanent Marker', cursive;
		top: 86%;
		left: 28.75%;
		font-size: 2.3vw;
	}
	.m2
	{
		position: absolute;
		top: 48.8%;
		left: 26%;
		height: 5vw;
		width: 5vw;
	}
	.vit
	{
		position: absolute;
		font-family: 'Neoteric-Bold';
		top: 37.5%;
		left: 20.75%;
		font-size: 3.3vw;
	}
	.vit-sub
	{
		position: absolute;
		font-family: 'Permanent Marker', cursive;
		top: 44.5%;
		left: 22%;
		font-size: 2.3vw;
	}
	#act-text
    {
		display: none;
    }
	.act-img
    {
		display: none;
    }
	.fid{
		display: none;
	}
	.ftext{
		display: none;
	}
	.bid{
		display: none;
	}
	.btext{
		display: none;
	}
	.flipper .info{
		display: none;
	}
	.cardContainer1{
		display: none;
	}
	.cardContainer2{
		display: none;
	}
	.cardContainer3{
		display: none;
	}

	.flipper {
		display: none;
		
	}
	.front{
		display: none;
	}
	.front {
		display: none;
	}
	.img1
	{
		display: none;
	}
	.img2
	{
		display: none;
	}
	.img3
	{
		display: none;
	}
	#skills
	{
		position: relative;
	}
	#ski-text
	{
		position: absolute;
		top: 8vw;
		left: 39%;
		font-family: 'Neoteric-Bold';
		font-size: 6vw;
		margin-bottom: 10vw;
		color: #524E4B;
	} 
	.grid-container {
		position: relative;
		display: grid;
		align-content: center;
		grid-template-columns: auto auto auto;
		padding-top: 20vw;
		grid-row-gap: 35vw;
		grid-column-gap: 8vw;
		margin-left: 14vw;
		
	}
	#python
	{
		font-family: 'Permanent Marker';
		font-size: 5vw;
		grid-row: 1;
		margin-top: 10vw;
		padding-left: 20%;
		padding-bottom: 10vw;
	}
	.pie-wrapper.progress-python
	{
		grid-row: 1;
		margin-top: 0vw;
	}
	#java
	{
		font-family: 'Permanent Marker';
		font-size: 5vw;
		grid-row: 2;
		padding-left: 25%;
		padding-bottom: 10vw;		
	}
	.pie-wrapper.progress-java
	{
		grid-row: 2;
	}
	#cpp
	{
		font-family: 'Permanent Marker';	
		font-size: 5vw;
		grid-row: 3;
		padding-left: 27%;
		padding-bottom: 10vw;		
	}
	.pie-wrapper.progress-c
	{
		grid-row: 3;
	}
	#ml
	{
		font-family: 'Permanent Marker';
		font-size: 5vw;
		grid-row: 4;
		padding-left: 27%;
		padding-bottom: 10vw;	
	}
	.pie-wrapper.progress-ml
	{
		grid-row: 4;
	}
	#photoshop
	{
		font-family: 'Permanent Marker';
		font-size: 5vw;
		grid-row: 5;
		padding-left: 20%;
		padding-bottom: 10vw;		
	}
	.pie-wrapper.progress-photoshop
	{
		grid-row: 5;
	}
	#web
	{
		font-family: 'Permanent Marker';
		font-size: 5vw;
		grid-row: 6;
		padding-left: 20%;
		padding-bottom: 10vw;		
	}
	.pie-wrapper.progress-web
	{
		grid-row: 6;
		margin-bottom: 20vw;
	}
	.pie-wrapper {
		display: inline-block;
		height: 200px;
		margin: 10px;
		position: relative;
		width: 200px;
	}
	.pie-wrapper .pie {
		clip: rect(0, 200px, 200px, 100px);
		height: 200px;
		position: absolute;
		width: 200px;
	}
	.pie-wrapper .pie .half-circle {
		border: 20px solid #3498db;
		border-radius: 50%;
		clip: rect(0, 100px, 200px, 0);
		height: 200px;
		position: absolute;
		width: 200px;
	}
	.pie-wrapper .label {
		margin-top: 23.6vw;
		background: #354759;
		border-radius: 50%;
		color: #ecf0f1;
		cursor: default;
		display: block;
		font-size: 3em;
		height: 160px;
		left: 10%;
		line-height: 3em;
		position: absolute;
		text-align: center;
		top: 10%;
		width: 160px;
	}
	.pie-wrapper .label .smaller {
		color: #bdc3c7;
		font-size: 0.45em;
		padding-bottom: 20px;
		vertical-align: super;
	}
	.pie-wrapper.style-2 .shadow {
		border: 20px solid #bdc3c7;
		border-radius: 50%;
		height: 100%;
		width: 100%;
	}
	.pie-wrapper.style-2 .label {
		background: none;
		color: #524E4B;
	}
	.pie-wrapper.style-2 .label .smaller {
		color: #bdc3c7;
	}
	.pie-wrapper.progress-python .pie {
		margin-top: -14.4vw;
		clip: rect(auto, auto, auto, auto);
	}
	.pie-wrapper.progress-python .pie .right-side {
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	.pie-wrapper.progress-python .pie .half-circle {
		border-color: #93EDC7;
	}
	.pie-wrapper.progress-python .pie .left-side {
		-webkit-transform: rotate(216deg);
		-moz-transform: rotate(216deg);
		-ms-transform: rotate(216deg);
		-o-transform: rotate(216deg);
		transform: rotate(216deg);
	}
	.pie-wrapper.progress-java .pie {
		clip: rect(auto, auto, auto, auto);
	}
	.pie-wrapper.progress-java .pie .right-side {
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	.pie-wrapper.progress-java .pie .half-circle {
		border-color: #F3A183;
	}
	.pie-wrapper.progress-java .pie .left-side {
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	.pie-wrapper.progress-ml .pie .right-side {
		display: none;
	}
	.pie-wrapper.progress-ml .pie .half-circle {
		border-color: #ff7e5f;
	}
	.pie-wrapper.progress-ml .pie .left-side {
		-webkit-transform: rotate(108deg);
		-moz-transform: rotate(108deg);
		-ms-transform: rotate(108deg);
		-o-transform: rotate(108deg);
		transform: rotate(108deg);
	}  
	.pie-wrapper.progress-photoshop .pie .right-side {
		display: none;
	}
	.pie-wrapper.progress-photoshop .pie .half-circle {
		border-color: #4776E6;
	}
	.pie-wrapper.progress-photoshop .pie .left-side {
		-webkit-transform: rotate(108deg);
		-moz-transform: rotate(108deg);
		-ms-transform: rotate(108deg);
		-o-transform: rotate(108deg);
		transform: rotate(108deg);
	}  
	.pie-wrapper.progress-web .pie .right-side {
		display: none;
	}
	.pie-wrapper.progress-web .pie .half-circle {
		border-color: #ED4264;
	}
	.pie-wrapper.progress-web .pie .left-side {
		-webkit-transform: rotate(72deg);
		-moz-transform: rotate(72deg);
		-ms-transform: rotate(72deg);
		-o-transform: rotate(72deg);
		transform: rotate(72deg);
	}  
	.pie-wrapper.progress-c .pie {
		clip: rect(auto, auto, auto, auto);
	}
	.pie-wrapper.progress-c .pie .right-side {
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	.pie-wrapper.progress-c .pie .half-circle {
		border-color: #96DEDA;
	}
	.pie-wrapper.progress-c .pie .left-side {
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
	} 
	#resume
	{
	position: relative;
	} 
	#resume-text
	{
		display: none;
	} 
	.rtxt
	{
		position: relative;
		font-family: 'DIN 30640 Std';
		font-size: 14vw;
		top: 165vw;
		left: 12vw;
	}
	#t2
	{
		position: relative;
		top: -115vw;
		height: 240vw;
		left: -10vw;
		width: 120vw;
	}
	body .btn,
	body .btn2 {
		position: absolute;
		top: 190.5vw;
		left: 40vw;
		width: 20.4375vw;
		height: 8.8125vw;
		font-size: 2.04375vw;
		text-align: center;
		line-height: 6.0125vw;
		color: rgba(255,255,255,0.9);
		border-radius: 50px;
		background: linear-gradient(-45deg, #ffa63d, #ff3d77, #338aff, #3cf0c5);
		background-size: 600%;
		-webkit-animation: anime 16s linear infinite;
				animation: anime 16s linear infinite;
		}
	body .btn2 {
		margin-top: -190.46875vw;
		left: -0.1vw;
		z-index: -1;
		-webkit-filter: blur(2.34375vw);
				filter: blur(2.34375vw);
		opacity: 0.8;
	}
	@-webkit-keyframes anime {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}
	@keyframes anime {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}
	#c-text
	{
		display: none;
	}
	#contact
	{
		margin-top: -125vw;
	}
	.arrow
	{
		display: none;
	}
	.screen-header-button 
	{
		display: none;
	}
}